pc/crc_test1/crc_test1/Debug/
pc/crc_test1/debug/
pc/crc_test1/crc_test1.ncb
pc/crc_test1/crc_test1.suo
emb/.metadata/
emb/devcom/Debug/
pc/crc_test1/parsegen/Debug/
pc/crc_test1/protoparse/Debug/
